body {
    background: #353535
}

.drumkit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

.pad {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 10px;
    box-shadow: 0 0 10px #000000;
    flex: 1 0 calc(33.333% - 20px);
    background: radial-gradient(#e3a864, 
    #de9866, #d08367, #af6762);
    
    
}

.playing {
    transform: scale(-1.-1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.pad img {
    width: 150px;
    pointer-events: none;
}

